<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	  <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
  <script src="Modules/BookManagement.js"></script>
  <link href="bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="Content/main.css" rel="stylesheet" />
</head>

<body {font-family: Arial, Helvetica, sans-serif;}>
  <div ng-app="MyApp" ng-controller="MyController">
    <div class="col-sm-5" style="margin-left: 150px;margin-top: 10px;">
      Search <input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" />
      <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;float:right;" class="btn btn-primary">Login</button>
    </div>
    <br />
    <br />
    <div class="col-sm-12">
      <div class="panel-heading">
        <h2 style="margin-left: 150px;">Book Information</h2>
      </div>

      <div class="ScrollStyle">
        <table id="table" class="table table-bordered table-condensed" ng-click="select($event)">
          <thead>
            <tr ng-show="books">
              <th>ID</th>
              <th>Book Title</th>
              <th>Category</th>
              <th>Author</th>
              <th>Publisher</th>
              <th>PublishDate</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="book in books | filter : search">
              <td>{{book.bookId}}</td>
              <td>{{book.title}}</td>
              <td>{{book.categoryName}}</td>
              <td>{{book.authorName}}</td>
              <td>{{book.publisherName}}</td>
              <td>{{book.publishDate | date: "yyyy-MM-dd"}}</td>
              <td><button type="button" id="updateButton" class="btn btn-primary" ng-click="DeleteBooks()"> Delete
                  Book</button></td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="panel panel-primary" style="float:right;margin-right:300px">

        <br />

        <div class="panel-body">
          <div class="form-group">
            <label></label>Book ID</label>
            <input type="text" class="form-control" ng-model="id" id="id" ng-disabled ="true" /></div>

          <label></label>Book Title</label>
          <input type="text" class="form-control" ng-model="title" id="fname" />
        </div>

        <div class="form-group">
          <label>Category</label>
          <select class="form-control" ng-model="category" id= "category">
            <option>Choose a Category</option>
        </select>
        </div>

        <div class="form-group">
          <label>Author</label>
          <select class="form-control" ng-model="author" id="author">
            <option>Choose Author</option>
            </select>
        </div>

        <div class="form-group">
          <label>Publisher</label>
          <select class="form-control" ng-model="publisher" id="publisher">
            <option>Choose Publisher</option>
            </select>
        </div>

        <div class="form-group">
          <label>Publish Date</label>
          <input type="date" class="form-control" ng-model="publishDate" />
        </div>

        <button type="button" id="updateButton" class="btn btn-primary" ng-click="AddBooks();" ng-disabled="isDisabled">
          Add Book
        </button>

        <button type="button" id="updateButton" class="btn btn-primary" ng-click="UpdateBooks();">
          Update Book
        </button>

        <button type="button" id="updateButton" class="btn btn-primary" ng-click="DeleteBooks();">
          Delete Book
        </button>
      </div>

    </div>
  </div>
  </div>
  </div>
  </div>


<div id="id01" class="modal">
  
  <form class="modal-content animate" action="\Users\sinothilem\git\librarybookmanagementsystem\BookManagement\BookManagement.UI\Admin.html">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="Content\images\login.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw">
        
      <button class="btn btn-primary" type="submit" ng-click="GetBooks()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>

</html>